/.idea/dataSources/5a57ee82-ecff-4f76-95e5-e2102d81de87.xml
/.idea/dataSources/c7a0a1c9-d9de-4892-970b-981156b291fc.xml
/.idea/compiler.xml
/.idea/dataSources/data_sources_history.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/db-forest-config.xml
/.idea/encodings.xml
/.idea/dataSources/5a57ee82-ecff-4f76-95e5-e2102d81de87/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/c7a0a1c9-d9de-4892-970b-981156b291fc/storage_v2/_src_/database/INVENTORY-DB.ry4XJA/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/c7a0a1c9-d9de-4892-970b-981156b291fc/storage_v2/_src_/database/INVENTORY-DB.ry4XJA.meta
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/dataSources/5a57ee82-ecff-4f76-95e5-e2102d81de87/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/c7a0a1c9-d9de-4892-970b-981156b291fc/storage_v2/_src_/database/INVENTORY-DB.ry4XJA/schema/PUBLIC.aaZQjQ.meta
/.idea/smart-inventory-system.iml
/.idea/vcs.xml
/.idea/workspace.xml
